img {
    position: absolute;
    width: 40%;
    height: 100%;
    left: 0;
    top: 0;
}

#image{
    background-color: black;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Bebas Neue', cursive;
    width: 40%;
    left: 0;
    top: 25%;
}

.font{
    color: gold;
    margin-left: 35%;
    width: max(45ch, 50%);
    font-size: 30px; 
}

#right{
    width: 60%;
    display: flex; 
    flex-direction: column;
    padding-left: 15px;
}

#left{
    width: 40%;
}

#container{
    display: flex;
}

.header{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT';
}